C:\Users\linyiwu\Desktop\ACsendCL笔记\Ascend_C-notebook\SinhCustom\SinhCustom
C:\Users\linyiwu\Desktop\ACsendCL笔记\Ascend_C-notebook\SinhCustom\SinhCustom_2
C:\Users\linyiwu\Desktop\ACsendCL笔记\Ascend_C-notebook\SinhCustom\SinhCustom_2.rar.zip
C:\Users\linyiwu\Desktop\ACsendCL笔记\Ascend_C-notebook\SinhCustom\SinhCustom.rar